# 18 Tableau – Citi Bike Analytics
I created the 2021CitiBikeData_Consol.csv by downloading all the individual csv files from the Citi Bike website.

I normalized the data in Excel:
   - formatted the date and time
   - calculated the trip duration (in seconds) for all the files
   - did a vlookup to change the old station id numbers to the new station identifiers
   - changed old member types to match the new types (subscriber became "member" and customer became "casual")

In [35]:
# import necessary modules
import pandas as pd
import numpy as np
import datetime

In [36]:
# read the csv file
df = pd.read_csv("2021CitiBikeData/2021CitiBikeData_Consol.csv")
df

,ride_id,rideable_type,trip_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,bikeid,birth year,gender
0,unknown1,NaN,266,1/1/21 0:03,1/1/21 0:08,Manila & 1st,JC082,Brunswick St,JC023,40.721651,-74.042884,40.724176,-74.050656,member,42494.0,1988.0,1.0
1,unknown2,NaN,1543,1/1/21 0:23,1/1/21 0:49,Grand St,JC102,Van Vorst Park,JC035,40.715178,-74.037683,40.718489,-74.047727,casual,45343.0,1996.0,2.0
2,unknown3,NaN,1461,1/1/21 0:23,1/1/21 0:48,Grand St,JC102,Van Vorst Park,JC035,40.715178,-74.037683,40.718489,-74.047727,casual,31794.0,1995.0,1.0
3,unknown4,NaN,793,1/1/21 0:31,1/1/21 0:44,City Hall,JC003,Newport Pkwy,JC008,40.717732,-74.043845,40.728745,-74.032108,casual,42316.0,1969.0,0.0
4,unknown5,NaN,596,1/1/21 0:35,1/1/21 0:45,Harborside,JC104,Brunswick St,JC023,40.719252,-74.034234,40.724176,-74.050656,casual,32575.0,1969.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644438,13FE513C650901A3,classic_bike,307,12/16/21 17:17,12/16/21 17:22,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member,NaN,NaN,NaN
644439,CA29051F38E67D30,classic_bike,273,12/7/21 17:10,12/7/21 17:15,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member,NaN,NaN,NaN
644440,A719DEA143005404,classic_bike,341,12/18/21 9:50,12/18/21 9:55,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member,NaN,NaN,NaN
644441,D39126975208B59D,classic_bike,332,12/10/21 21:43,12/10/21 21:49,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member,NaN,NaN,NaN
644442,1BB5CF43B5DF7E05,classic_bike,302,12/8/21 11:09,12/8/21 11:14,Hilltop,JC019,Hamilton Park,JC009,40.731169,-74.057574,40.727596,-74.044247,member,NaN,NaN,NaN

In [38]:
# dropping the last three columns because only January has data
df = df.drop(['bikeid', 'birth year', 'gender'], axis=1)
df

,ride_id,rideable_type,trip_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,unknown1,NaN,266,1/1/21 0:03,1/1/21 0:08,Manila & 1st,JC082,Brunswick St,JC023,40.721651,-74.042884,40.724176,-74.050656,member
1,unknown2,NaN,1543,1/1/21 0:23,1/1/21 0:49,Grand St,JC102,Van Vorst Park,JC035,40.715178,-74.037683,40.718489,-74.047727,casual
2,unknown3,NaN,1461,1/1/21 0:23,1/1/21 0:48,Grand St,JC102,Van Vorst Park,JC035,40.715178,-74.037683,40.718489,-74.047727,casual
3,unknown4,NaN,793,1/1/21 0:31,1/1/21 0:44,City Hall,JC003,Newport Pkwy,JC008,40.717732,-74.043845,40.728745,-74.032108,casual
4,unknown5,NaN,596,1/1/21 0:35,1/1/21 0:45,Harborside,JC104,Brunswick St,JC023,40.719252,-74.034234,40.724176,-74.050656,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644438,13FE513C650901A3,classic_bike,307,12/16/21 17:17,12/16/21 17:22,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
644439,CA29051F38E67D30,classic_bike,273,12/7/21 17:10,12/7/21 17:15,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
644440,A719DEA143005404,classic_bike,341,12/18/21 9:50,12/18/21 9:55,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
644441,D39126975208B59D,classic_bike,332,12/10/21 21:43,12/10/21 21:49,Grove St PATH,JC005,Hamilton Park,JC009,40.719586,-74.043117,40.727596,-74.044247,member
644442,1BB5CF43B5DF7E05,classic_bike,302,12/8/21 11:09,12/8/21 11:14,Hilltop,JC019,Hamilton Park,JC009,40.731169,-74.057574,40.727596,-74.044247,member

In [39]:
# checking the data types of my columns
df.dtypes

ride_id                object
rideable_type          object
trip_duration           int64
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [40]:
# converting columns to the data types I want them to be
df["started_at"]=pd.to_datetime(df["started_at"])
df["ended_at"]=pd.to_datetime(df["ended_at"], errors = 'coerce')
df.dtypes

ride_id                       object
rideable_type                 object
trip_duration                  int64
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object